a,  a:focus,  a:hover {
    color: #3969a4;
}
.response {
    color: #e36e16;
}

.msgname {
    color: #bd4444;
}

.msgtime {
    color: #4f4f4f;
}

.otherssplit {
    border-left-color: #c7c7c7;
}
.minesplit {
    border-left-color: #00c130;
}

.msgid {
    color: #0071ff;
}

#log {
    background-color: #ebebeb;
}

#table {
    background-color: rgb(243, 243, 243);
    color: rgba(0, 0, 0, 0.84);
}

#onlineCount {
    background-color: #c2c2c2;
}

.greentext {
    color: #789922;
}

.spoiler {
    color: #a5a5a5;
    background-color: #a5a5a5;
}
.spoiler:hover {
    background-color: rgb(243, 243, 243);
    color: rgba(0, 0, 0, 0.84);
}

.irony {
    color: #FF00FF;
}

.highlightRef {
    background-color: #cdcdcd;
}

#loadold {
    color: #000000;
    background-color: #c5c5c5;
}
#loadold:active {

    background-color: #a8a8a8;
}
